body
{
	background-color:#171717;
        font-family:"Comic Sans MS", cursive, sans-serif;
}
main
{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}
header
{
	letter-spacing:1px;
	font-size:30px;
	background-color:black;
	color:white;
	padding:5px;
	text-align:center;
}
nav
{
	width:200px;
	font-size:22px;
	float:left;
	background-color:#b3b300;
	color:blue;
	padding:10px;
	min-height:650px;
	font-weight:400;
}
article
{
	
	width:760px;
	padding:10px;
	float:left;
	background-color:#666666;
	color:black;
	font-size:19px;
	min-height:650px;
}
#text
{
	float:left;
	width:330px;
	padding:10px;
    text-align:justify;
}
#photo
{
	float:left;
	width:390px;;
	padding:10px;
}
.link
{
	border:2px dotted #e86e1c;
	padding:5px;
	text-align:center;
	margin-bottom:6px;
	height:27px;
}
.link:hover
{
	background-color:#e62e00;
    color:#0000e6;
}

a.links
{
	color:#0000b3e;
	text-decoration:none;
	display:block;
	width:180px;
	height:27px;
}
footer
{
	background-color:black;
	color:white;
	text-align:center;
	padding:5px;
}
ul
{
	list-style-type:none;
	padding-inline-start:0px;
	margin-inline-start: 1px;
	display: unset;
}
ul > li:before
{
	color:#ff471a;
	content:"→";
}
#clock
{
	font-size:40px;
	float:left;
	text-align:center;
	margin-top:45px;
	margin-left:70px;
}
#heading
{
	float:left;
	margin-left:200px;
}
#intxt
{
	font-size:19px;
	padding:10px;
        height:29px;
        background-color:#666666;
        text-align:center;
        padding:5px;
        display:contents;
}





				